.feed-container{
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.food-display{
    /* padding: 0px; */
    margin: 0px;
    font-size: 5rem;
    /* color: #fff; */
}



